h1 {
    display: block;
    font-size: 2em;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    padding-top: 0.83em;
    padding-bottom: 0.83em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    padding-top: 1.33em;
    padding-bottom: 1.33em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    padding-top: 1.67em;
    padding-bottom: 1.67em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    padding-top: 2.33em;
    padding-bottom: 2.33em;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}

i{
    font-style:  italic;
}

b{
    font-weight: bold; 
}

strong{
    font-weight: bold;
}

em
{
    text-decoration:  underline;
}

u{
    text-decoration: underline;
}

th{
    font-weight: bold;
}

blockquote {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 40px;
    padding-right: 40px;
}